nndriver =
{
	// Screen properties.
	display =
	{
		// Dimensions.
		screen = 
		{
			width = 512;
			height = 512;
		};
		// Background color.
		background = 0x000000;
	};

	// Perception parameters.
	perception = 
	{
		// Means 1.2 times self radius.
		range_start = 1.2;
		// Range <= range_start means end value is the environment visibility limit.
		// Range > range_start means limit equals to range_end * self radius.
		range_end = 0.0;
		// Amount of range step.
		range_step = 10.0;
	};

	// Motion parameters.
	motion = 
	{
		// Maximum movement step allowable in training input.
		max_delta = 5.0;
	};

	brain = 
	{
		// number of visual input cells.
		num_visual = 64;
		// number of hidden layer neurons.
		num_hidden = 10;
		// number of output layer, motion cells.
		num_motion = 4;
	};

	environment =
	{
		// environment visibility.
		visibility = 100.0;
		// nndriver object coordinates and color.
		self = { X = 200.0; Y = 200.0; R = 10.0; color = 0x0080ff; };
		// positions and colors for other objects in environment.
		objects = (
			{ X = 110.0;	Y = 220.0;	R = 8.0; 	color = 0xff0000; },
			{ X = 210.0; 	Y = 110.0; 	R = 10.0; 	color = 0xff0000; },
			{ X = 315.0; 	Y = 95.0; 	R = 12.0;	color = 0x00ff00; },
			{ X = 395.0; 	Y = 115.0; 	R = 10.0; 	color = 0x00ff00; },
			{ X = 115.0; 	Y = 65.0; 	R = 12.0;	color = 0x00ff00; },
			{ X = 300.0; 	Y = 200.0;	R = 40.0;	color = 0x00ff00; },
			{ X = 195.0; 	Y = 415.0; 	R = 10.0; 	color = 0x00ff00; }
		);

		// size of environment.
		radius = 200.0;
	};
};

